<div class="container">
  <div class="blogs">
    <div class="content-top">
      <h1>Blogs</h1>
    </div>
    <div *ngFor="let dt of post">
      <h2>{{dt.userId}} &nbsp; {{dt.id}} &nbsp; {{dt.title}} </h2>
      
    </div>
  </div>
</div>
