<div class="container-fluid">
  <h2>Registration Form</h2>

  {{registrationForm.value | json}}
  {{registrationForm.status}}
  <form [formGroup] = "registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [class.is-invalid]="userName.invalid && userName.touched" class="form-control" formControlName = "userName">
      <!-- <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">User name is required</small> -->
      <div *ngIf="userName.touched && userName.invalid">
        <small *ngIf="userName.errors.required" class="text-danger">User name is required</small>
        <small *ngIf="userName.errors.minlength" class="text-danger">User name should be more than 2 characters</small>
        <small *ngIf="userName.errors.forbiddenName" class="text-danger">{{userName.errors.forbiddenName.value}} User name not allowed</small>
      </div>

    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName = "password">
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" class="form-control" formControlName = "confirmPassword">
        <small *ngIf = "registrationForm.errors?.misMatch" class="text-danger">Passwords do not match</small>
    </div>  

    <!-- [class.is-invalid]="registrationForm.errors.misMatch" -->
    <!-- *ngIf = "registrationForm.errors.misMatch" -->

    <!-- <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-small m-2" (click)="addAlternateEmail()">Add Email</button>
      <input type="text"  [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
      <div formArrayName="alternateEmails" *ngFor = "let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div> -->

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" formControlName="subscribe">
      <label class="form-check-label"> 
        Send me promotional offers
      </label>
    </div>
          

    <div formGroupName = "address">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName = "city">
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" formControlName = "state">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" formControlName = "postalCode">
      </div>

    </div>

    <!-- <div formGroupName = "groupname">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName = "firstname" class="form-control">
      </div>

      <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName = "lastname" class="form-control">
      </div>

        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" formControlName = "middlename" class="form-control">
        </div>
    </div> -->

    <button type="submit" class="btn btn-primary"  >Register</button>
    <button type="button" class="btn btn-secondary" (click)="loadapidata()">Load API Data</button>
    
    <!-- (click)="register(registrationForm.value)" -->

  </form>
 

</div>