<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! <br>
    {{desc}}
    {{message}}
  </h1>
  <button routerLink="list" >Button 1</button> &nbsp;
  <button routerLink="detail">Button 2</button>
  
 <div></div>
 <!-- <div class="app-test"> -->
<!-- <div app-test>
 </div> -->

<app-test (childEvent)= "message = $event" [parentData] = "firstname"></app-test>
<router-outlet></router-outlet> 
<!-- <app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail> -->


<!-- <app-test (childEvent)= "message = $event" [parentData] = "firstname"></app-test> -->
<!-- <router-outlet></!--> 
<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>

<app-tdform></app-tdform>
<br> <hr>
<app-reactive-form></app-reactive-form>
<br>
<hr>
<app-example></app-example>
