<div class="div-container-fluid">
  <h1>Boot Camp Form</h1>
  <form #userForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
    {{ userForm.value | json }}
    <hr> 
    {{userModel | json }}
    <hr>
    {{userForm.form.valid}}

    <div class="form-group">
      <label>Name:</label>
      <input type="text" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" class="form-control " [(ngModel)] = "userModel.name" name="name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <!-- {{name.valid}} -->
    <!-- {{name.className}} -->

    <div class="form-group">
      <label>Email:</label>
      <input type="email" required class="form-control" [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" [(ngModel)] = "userModel.email" name="email">
      <div *ngIf = "email.errors && (email.valid || email.touched)">
        <small class="text-danger" *ngIf = "email.errors.pattern">Email format is not correct</small>
        <small class="text-danger" *ngIf = "email.errors.required">Email is required</small>
      </div>
    </div>

    <div class="form-group">
      <label>Phone:</label>
      <input type="tel" class="form-control" #phone="ngModel" required [class.is-invalid]="phone.invalid && phone.touched" pattern="\d{10}$" [(ngModel)] = "userModel.phone" name="phone">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be of 10 digits</small> -->
      <div *ngIf = "phone.errors && (phone.valid || phone.touched)">
        <small class="text-danger" *ngIf = "phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf = "phone.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>

    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" [class.is-invalid]="topicHasError && topic.touched" #topic="ngModel" [(ngModel)] = "userModel.topics" name="topics"> 
        <option value="default">I am interested in!</option>
        <option *ngFor = "let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError ||topic.untouched">Please select a topic</small>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)] = "userModel.timePreference" type="radio" value="morning" name="timePreference">
        <label class="form-check-label">
          Morning (9AM - 12PM)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)] = "userModel.timePreference" type="radio" value="evening" name="timePreference">
        <label class="form-check-label">
          Evening (5PM - 8PM)
        </label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" [(ngModel)] = "userModel.promo" name="promo">
      <label class="form-check-label"> 
        Send me promotional offers
      </label>
    </div>

    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit form</button>

  </form>
</div>


